@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes fill-gradient {
  from {
    opacity: 0;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    opacity: 1;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes spin {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes load {
  from {
    visibility: hidden;
    transform: translateY(25px);
  }
  to {
    visibility: visible;
    transform: translateY(0px);
  }
}
@keyframes spinner {
  0% {
    color: #9356DC;
    visibility: visible;
    transform: rotate(0deg);
  }
  33% {
    color: #FF79DA;
    visibility: visible;
    transform: rotate(120deg);
  }
  66% {
    color: #99E2D0;
    visibility: visible;
    transform: rotate(240deg);
  }
  100% {
    color: #FF79DA;
    visibility: hidden;
    transform: rotate(360deg);
  }
}
@keyframes load-home {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
}

.load__item {
  visibility: hidden;
  animation: load 500ms forwards;
}
.load__item--1 {
  animation-delay: 250ms;
}
.load__item--2 {
  animation-delay: 500ms;
}
.load__item--3 {
  animation-delay: 750ms;
}
.load__item--4 {
  animation-delay: 1000ms;
}
.load__item--5 {
  animation-delay: 1250ms;
}
.load__item--6 {
  animation-delay: 1500ms;
}
.load__item--7 {
  animation-delay: 1750ms;
}
.load__item--8 {
  animation-delay: 2000ms;
}
.load__item--9 {
  animation-delay: 2250ms;
}
.load__item--10 {
  animation-delay: 2500ms;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 480px;
  min-width: 420px;
}
body ul {
  list-style-type: none;
}

.spinner {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ffffff;
  animation: load-home 3s forwards;
}
.spinner i {
  font-size: 20vw;
  position: absolute;
  animation: spinner 1.5s 2 forwards linear;
  left: 40%;
  top: 40%;
}

.fas.fa-heart {
  opacity: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  box-shadow: 1px 1px 5px 1px #cccccc;
}

button:active, button:active, button:focus {
  outline: none;
}

.btn--gradient {
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px 25px;
  color: #ffffff;
  border: 0px;
  border-radius: 24px;
  margin: 40px 0px 50px 0px;
  font-size: 17px;
  box-shadow: 1px 1px 5px 1px #b2b2b2;
}
.btn--gradient:hover {
  background-image: linear-gradient(to bottom right, #ff7edb, #a16be0);
  box-shadow: 2px 2px 5px 1px #b2b2b2;
}

.header {
  text-align: center;
}
.header__logo {
  height: 35px;
  padding: 5px;
}
.header i {
  padding: 0px 20px 0px 0px;
}
.header h5 {
  background-color: #e5e5e5;
  padding: 15px;
  font-size: 20px;
  box-shadow: inset 0px 6px 5px -5px #a6a6a6;
}
.header h3 {
  padding: 40px;
}
.header-section {
  background-color: #f2f2f2;
  font-size: 20px;
  border-top: #a6a6a6 solid 1px;
}

.nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 30px 0px;
}
.nav-point {
  position: absolute;
  display: inline-block;
  left: -13px;
  bottom: 24px;
  background-color: #9356DC;
  color: #ffffff;
  border-radius: 50%;
  padding: 5px 10px;
}
.nav h2 {
  margin: 20px;
}
.nav i {
  padding: 0px 25px 0px 35px;
  color: #7f7f7f;
}
.nav button {
  margin: 10px 20px;
  text-align: left;
  padding: 30px 2px;
  font-size: 19px;
  border-radius: 25px;
  border: none;
  position: relative;
  background-color: #f2f2f2;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: flex-start;
  background-color: #f2f2f2;
  padding: 60px 20px;
}
.main-tag--new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  z-index: 2;
  color: #217460;
  padding: 5px 30px;
  font-weight: 600;
}
.main-option {
  margin-top: 20px;
  position: relative;
  box-shadow: 1px 1px 5px 1px #cccccc;
  border-radius: 20px;
  width: 100%;
}
.main-option__button {
  position: absolute;
  right: 25px;
  bottom: 20px;
  cursor: pointer;
  z-index: 2;
  box-shadow: none;
  outline: 0;
  border: 0;
}
.main-option__button i {
  font-size: 25px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.main-option__button:focus i {
  animation: fill-gradient 2s;
  animation-fill-mode: forwards;
}
.main-option img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.main-option a {
  z-index: -1;
}
.main-option__pic {
  height: 220px;
}
.main-option__name {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
  font-size: 20px;
}

.footer {
  background-color: #363636;
  padding: 25px;
}
.footer a {
  color: #ffffff;
}
.footer__logo {
  height: 20px;
  filter: invert(100);
  padding-bottom: 10px;
}
.footer li {
  padding: 5px 0px;
}
.footer i {
  padding-right: 10px;
  width: 15px;
}

.menu {
  background-color: #f2f2f2 !important;
  padding: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 10;
  border-radius: 40px 40px 0px 0px;
}
.menu hr {
  width: 9%;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  margin: 2px 5px 10px 5px;
}
.menu-title {
  font-family: "Shrikhand", cursive;
  font-size: 35px;
  padding: 30px 5px;
}
.menu-title__button {
  position: absolute;
  right: 40px;
  top: 75px;
  cursor: pointer;
  z-index: 2;
  box-shadow: none;
  outline: 0;
  border: 0;
}
.menu-title__button i {
  font-size: 35px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.menu-title__button:focus i {
  animation: fill-gradient 2s;
  animation-fill-mode: forwards;
}
.menu-submit {
  text-align: center;
}
.menu-submit button {
  padding: 15px 100px;
}
.menu-header {
  padding: 0px 30px 0px 0px;
}
.menu-header i {
  float: left;
  font-size: 20px;
  padding: 10px 0px 10px 30px;
}
.menu-header__bg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}
.menu-section {
  display: flex;
  flex-flow: column wrap;
  padding: 15px 0px;
}
.menu-section h4 {
  padding: 0px 5px;
  font-weight: 300;
  font-size: 18px;
}
.menu-section__option {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
  background-color: #ffffff;
  border: none;
  margin: 5px 0px;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: 1px 1px 5px 1px #cccccc;
  width: 100%;
  cursor: pointer;
}
.menu-section__option--item {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  min-width: 0;
}
.menu-section__option--item p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-section__option p {
  padding: 5px 0px 0px 0px;
}
.menu-section__option--price {
  padding: 40px 15px 10px 15px;
  font-weight: 700;
  flex-grow: 0;
  flex-shrink: 0;
}
.menu-section__option:focus > .menu-section__option--slider {
  transform: scaleX(1);
  flex-grow: 1;
  width: 100px;
  max-width: 65px;
}
.menu-section__option:focus i {
  animation: spin 500ms;
}
.menu-section__option--slider {
  background-color: #99E2D0;
  flex-grow: 0;
  float: right;
  text-align: center;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 500ms ease-out;
  border-radius: 0px 15px 15px 0px;
}
.menu-section__option--slider i {
  background-color: #ffffff;
  border-radius: 50%;
  color: #99E2D0;
  padding: 3px;
  margin: 25px 0px;
}

/*# sourceMappingURL=style.css.map */
