.main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: flex-start;
    background-color: $color-bg-main;
    padding: 60px 20px;

    &-flex {
        @include for-tablets {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
    }

    &-tag--new {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: $color-tertiary;
        z-index: 2;
        color: darken($color-tertiary, 45%);
        padding: 5px 30px;
        font-weight: 600;
    }

    &-option {
        margin-top: 20px;
        position: relative;
        box-shadow: 1px 1px 5px 1px darken($color-bg-main, 15%);
        border-radius: 20px;
        width: 100%;

        @include for-tablets {
            width: 48%;
        }

        &__button {
            position: absolute;
            right: 25px;
            bottom: 20px;
            cursor: pointer;
            z-index: 2;
            box-shadow: none;
            outline: 0;
            border: 0;

            & i {
                font-size: 25px;
                position: absolute;
                right: 0px;
                bottom: 0px;
            }

            &:focus {
                & i {
                    animation: fill-gradient 2s;
                    animation-fill-mode: forwards;
                }
            }

            @include for-desktop {
                &:hover {
                    & i {
                        animation: fill-gradient 2s;
                        animation-fill-mode: forwards;
                    }

                }
            }
        }

        & img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;
        }

        & a {
            z-index: -1;
        }

        &__pic {
            height: 220px;
        }

        &__name {
            background-color: $color-txt-footer;
            padding: 15px;
            border-radius: 0px 0px 20px 20px;
            font-size: 20px;
        }
    }
}