$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-txt-footer: #ffffff;
$color-bg-footer: #363636;
$color-bg-main: #f2f2f2;
$color-txt: #000000;
$titles-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;
$load-dur: 500ms;
$load-delay: 250ms;
$num-items: 10;
$breakpoint-tablet: 576px;
$breakpoint-desktop: 1024px;